<h1 md-dialog-title>Create a new player</h1>
<form (ngSubmit)="saveDialog()" #newExerciseForm="ngForm">
  <div md-dialog-content>
    <md-input-container>
      <input mdInput placeholder="Exercise name" [(ngModel)]="exerciseName" name="exerciseName" required>
    </md-input-container>
    <div>
      <md-input-container class="row">
        <input mdInput placeholder="Amount of reps" [(ngModel)]="repsAmount" name="repsAmount">
      </md-input-container>
    </div>
  </div>
  <md-dialog-actions style="float:right">
    <button md-button md-raised-button color="accent" type="submit" [disabled]="!newPlayerForm.form.valid">Save</button>
    <!-- Can optionally provide a result for the closing dialog. -->
    <button md-button md-raised-button color="accent" style="margin-left: 1em;" (click)="closeDialog()">Cancel</button>
  </md-dialog-actions>
</form>
