<md-toolbar color="primary">
  <i class="fa fa-heart-o brand-icon"></i>
  <p>Fitness</p>
</md-toolbar>

<md-card>
  <md-card-title-group>
    <md-card-title>Morning workout!</md-card-title>
  </md-card-title-group>
  <md-card-content>

    <md-card>
      <md-card-title-group>
        <md-card-title>Squats</md-card-title>
      </md-card-title-group>
      <md-card-content>
        <p>Do some squats, beefcake!</p>
        <p>sets: 3</p>
        <p>reps: 20</p>
      </md-card-content>
    </md-card>

  </md-card-content>
</md-card>
