<md-toolbar color="primary">
  <i class="fa fa-heart-o brand-icon"></i>
  <p>Fitness</p>
</md-toolbar>

<md-card *ngIf="workout">
  <md-card-title-group>
    <md-card-title>{{workout.title}}</md-card-title>
  </md-card-title-group>
  <md-card-content>

    <md-card>
      <md-card-title-group>
        <md-card-title>{{workout.exercises[0].title}}</md-card-title>
      </md-card-title-group>
      <md-card-content>
        <p>{{workout.exercises[0].description}}</p>
        <p>{{workout.exercises[0].sets}}</p>
        <p>{{workout.exercises[0].reps}}</p>
      </md-card-content>
    </md-card>

  </md-card-content>
</md-card>
